
<section class="text-gray-400 bg-gray-900 body-font relative"> <br><br><br><b></b>
    <div class="container px-5 mx-auto">
      <div class="flex flex-col text-center w-full ">
        <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-white">Comments</h1>
      </div>
      <form action="{% url 'comment-page' %}" method="post">
        {% csrf_token %}
      <div class="lg:w-1/2 md:w-2/3 mx-auto">
        <div class="flex flex-wrap -m-2">
          <div class="p-2 w-1/2">
            <div class="relative">
                <input type="hidden" name="user_who_commented" value={{request.user.pk}}>

            </div>
          </div>
          <div class="p-2 w-1/2">
            <input type="hidden" name="post" value={{post.id}}>

          </div>
          <div class="p-2 w-full ">
            <div class="relative">
              <textarea id="comment" name="comment" class="w-full  bg-gray-800 bg-opacity-40 rounded border border-gray-700 focus:border-indigo-500 focus:bg-gray-900 focus:ring-2 focus:ring-indigo-900 h-32 text-base outline-none text-gray-100 py-1 px-3 resize-none leading-6 transition-colors duration-200 ease-in-out" placeholder="Write here ..."></textarea>
            </div>
          </div>
          <div class="p-2 w-full">
            <button class="flex mx-auto text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">Comment</button>
          </div>
          
        </div>
      </div>
      </form>
    </div>
  </section>





