{% extends 'src_code/basics/base.html' %}
{% block content %}

<section class="text-gray-400 bg-gray-900 body-font">
    {% for post in posts %}
    <div class="container mx-auto flex px-5 py-12 items-center justify-center flex-col">
     
              <div class="p-8 md:w-2/5 flex flex-col items-start">
                <a href="{% url 'user-page' user_id=post.user.id %}"><p class="inline-flex items-center">
                    <img alt="user_img" src="{{post.post_user_pic.url}}" class="w-12 h-12 rounded-full flex-shrink-0 object-cover object-center">
                  <span class="flex-grow flex flex-col pl-4">
                    <span class="title-font font-medium text-white">{{post.user}}</span>
                  </span>
                    
                </p>
                </a>
              </div>
        <!-- <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-white"> {{post.post}}</h1> -->
        <img class="lg:w-2/6 md:w-3/6 w-5/6 mb-10 object-cover object-center rounded" alt="hero"
            src="{{post.image.url}}">
        <div class="text-center lg:w-2/3 w-full">
            <p class="leading-relaxed mb-8"><a href="{% url 'individual-post-page' post_id=post.id %}">{{post.post}}</a>
            </p>
            <div class="flex justify-center">
                {% include 'src_code/likes.html' %}
                {% include 'src_code/saved.html' %}
                <button type="submit"
                    class="ml-4 inline-flex text-gray-100 bg-blue-800 border-0 py-2 px-6 focus:outline-none hover:bg-blue-700 hover:text-white rounded text-lg ui button{{post.id}}">
                    <a href="{% url 'individual-post-page' post_id=post.id %}">Comment </a>
                </button>



            </div>
        </div>
    </div>
    {% endfor %}


</section>

<script>
    $(document).ready(function () {

        $('.like-form').submit(function (e) {
            e.preventDefault()

            const post_id = $(this).attr('id')

            const likeText = $(`.like-btn${post_id}`).text()
            const trim = $.trim(likeText)

            const url = $(this).attr('action')

            let res;
            const likes = $(`.like-count${post_id}`).text()
            const trimCount = parseInt(likes)

            $.ajax({
                type: 'POST',
                url: url,
                data: {
                    'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
                    'post_id': post_id,
                },
                success: function (response) {
                    if (trim === 'Unlike') {
                        $(`.like-btn${post_id}`).text('Like')
                        res = trimCount - 1
                    } else {
                        $(`.like-btn${post_id}`).text('Unlike')
                        res = trimCount + 1
                    }

                    $(`.like-count${post_id}`).text(res)
                },
                error: function (response) {
                    console.log('error', response)
                }
            })

        })
    });
</script>


<script>
    $(document).ready(function () {

        $('.saved-form').submit(function (e) {
            e.preventDefault()

            const post_id = $(this).attr('id')

            const likeText = $(`.save-btn${post_id}`).text()
            const trim = $.trim(likeText)

            const url = $(this).attr('action')

            $.ajax({
                type: 'POST',
                url: url,
                data: {
                    'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
                    'post_id': post_id,
                },
                success: function (response) {
                    if (trim === 'Save') {
                        $(`.save-btn${post_id}`).text('Unsave')
                    } else {
                        $(`.save-btn${post_id}`).text('Save')
                    }

                },
                error: function (response) {
                    console.log('error', response)
                }
            })

        })
    });
</script>
{% endblock content %}