{% extends 'src_code/basics/base.html' %}

{% block content %}

<section class="text-gray-400 bg-gray-900 body-font">
    <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
      <div class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center">
        <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-white">{{post}}
        </h1>
        <p class="mb-8 leading-relaxed">{{post.post}}</p>
        <div class="flex justify-center">
          
          <form action="{% url 'likes-count' %}" class='like-form' id='{{post.id}}'>
            {% csrf_token %}
            <input type="hidden" name="post_id" value={{post.id}}>
            <div class="">
                <span class="title-font font-medium text-2xl text-white like-count{{post.id}}">{{post.likes.count}}</span>
        
                <button type="submit"
                    class="ml-4 inline-flex text-gray-100 bg-pink-800 border-0 py-2 px-6 focus:outline-none hover:bg-pink-700 hover:text-white rounded text-lg ui button like-btn{{post.id}}">
                    {% if request.user not in post.likes.all %}
                    Like 
                    {% else %}
                    Unlike
                    {% endif %}
                </button>
             </div>
        
        
        
        </form>
        
        
        
         

<form action="{% url 'saved-post-page' %}" class='saved-form' id='{{post.id}}'>
  {% csrf_token %}
  <input type="hidden" name="post_id" value={{post.pk}}>
  
      <button type="submit" class="ml-4 inline-flex text-gray-100 bg-green-800 border-0 py-2 px-6 focus:outline-none hover:bg-green-700 hover:text-white rounded text-lg ui button save-btn{{post.id}}">
          {% if request.user not in post.saved.all %}
                  Save
              {% else %}
                  Unsave
              {% endif %}
      </button>
      
     
</form>


        </div>
      </div>
      <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6">
        <img class="object-cover object-center rounded" width="100%" height="30%" alt="hero" src="{{post.image.url}}">
      </div>
    </div>
  </section>


{% include 'src_code/comment.html' %}



<section class="text-gray-400 bg-gray-900 body-font">
  {% for comment in comments %}
  <div class="container px-5 py-2 mx-auto flex flex-wrap">
        
      <div class="flex flex-col flex-wrap lg:py-6 -mb-1 lg:w-1/2 lg:pl-12 lg:text-left text-center">
        <div class="flex flex-col mb-2 lg:items-start items-center">
          
          <div class="flex flex-row pb-4">
            <img class="inline object-cover w-8 h-8 flex text-left rounded-full" src="{{user.profile_pic.url}}" alt="Profile image"/>
            <h2 class="text-white text-lg title-font text-left px-4 font-medium mb-1">{{comment.user}}</h2>
            
        </div>
        <p class="leading-relaxed text-base">{{comment.comment}} </p>
        </div>
      </div>
    </div>
    {% endfor %}
  </section>




  <script>
    $(document).ready(function () {

        $('.like-form').submit(function (e) {
            e.preventDefault()

            const post_id = $(this).attr('id')

            const likeText = $(`.like-btn${post_id}`).text()
            const trim = $.trim(likeText)

            const url = $(this).attr('action')

            let res;
            const likes = $(`.like-count${post_id}`).text()
            const trimCount = parseInt(likes)

            $.ajax({
                type: 'POST',
                url: url,
                data: {
                    'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
                    'post_id': post_id,
                },
                success: function (response) {
                    if (trim === 'Unlike') {
                        $(`.like-btn${post_id}`).text('Like')
                        res = trimCount - 1
                    } else {
                        $(`.like-btn${post_id}`).text('Unlike')
                        res = trimCount + 1
                    }

                    $(`.like-count${post_id}`).text(res)
                },
                error: function (response) {
                    console.log('error', response)
                }
            })

        })
    });
</script>


<script>
    $(document).ready(function () {

        $('.saved-form').submit(function (e) {
            e.preventDefault()

            const post_id = $(this).attr('id')

            const likeText = $(`.save-btn${post_id}`).text()
            const trim = $.trim(likeText)

            const url = $(this).attr('action')

            $.ajax({
                type: 'POST',
                url: url,
                data: {
                    'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
                    'post_id': post_id,
                },
                success: function (response) {
                    if (trim === 'Save') {
                        $(`.save-btn${post_id}`).text('Unsave')
                    } else {
                        $(`.save-btn${post_id}`).text('Save')
                    }

                },
                error: function (response) {
                    console.log('error', response)
                }
            })

        })
    });
</script>







{% endblock content %}
