<form action="{% url 'likes-count' %}" class='like-form' id='{{post.id}}'>
    {% csrf_token %}
    <input type="hidden" name="post_id" value={{post.id}}>
    <div class="flex">
        <span class="title-font font-medium text-2xl text-white like-count{{post.id}}">{{post.likes.count}}</span>

        <button type="submit"
            class="ml-4 inline-flex text-gray-100 bg-pink-800 border-0 py-2 px-6 focus:outline-none hover:bg-pink-700 hover:text-white rounded text-lg ui button like-btn{{post.id}}">
            {% if request.user not in post.likes.all %}
            Like 
            {% else %}
            Unlike
            {% endif %}
        </button>
     </div>



</form>


