<!-- <div class="flex justify-center  ">
  <nav class="self-center w-full max-w-7xl  ">
      <div class="flex flex-col lg:flex-row justify-around items-center ">
          <h1 class="uppercase pl-5 py-4 text-lg font-sans font-bold">hero</h1>
          <ul class="hidden lg:flex items-center text-[18px] font-semibold pl-32">
              <li class="hover:underline  underline-offset-4 decoration-2 decoration-white py-2 rounded-lg px-5">
                  <a href="#">Home</a></li>
              <li class="hover:underline underline-offset-4 decoration-2 decoration-white py-2 rounded-lg px-5"><a
                      href="#">Contact</a></li>
              <li class="hover:underline underline-offset-4 decoration-2 decoration-white py-2 rounded-lg px-5"><a
                      href="#">Services</a></li>
              <li class="hover:underline underline-offset-4 decoration-2 decoration-white py-2 rounded-lg px-5"><a
                      href="#">About</a></li>
              <li class="hover:underline underline-offset-4 decoration-2 decoration-white py-2 rounded-lg px-5"><a
                      href="#">Pricing</a></li>
          </ul>
          <div class=" text-center text-base pr-5  inline-flex"> <a href="#"
                  class="w-8 h-8 inline-block rounded-full pt-[6px] hover:text-blue-500"><i
                      class="fa fa-twitter"></i></a> <a href="#"
                  class="w-8 h-8 inline-block rounded-full pt-[5px] hover:text-blue-500"><i
                      class="fa fa-instagram"></i></a> <a href="#"
                  class="w-8 h-8 inline-block rounded-full pt-[5px] hover:text-blue-500"><i
                      class="fa fa-facebook"></i></a> <a href="#"
                  class="w-8 h-8 inline-block rounded-full pt-[5px] hover:text-blue-500"><i
                      class="fa fa-google"></i></a> <a href="#"
                  class="w-8 h-8 inline-block rounded-full pt-[5px] hover:text-blue-500"><i
                      class="fa fa-linkedin"></i></a> </div>
      </div>
  </nav>
</div> -->
<div class="flex justify-center ">
  <div class="flex flex-col justify-center">

      <div class="flex flex-col max-w-7xl justify-center items-center p-2 mt-10">
          <div class="flex flex-col w-[90%] md:w-1/2 text-center items-center justify-center space-y-4">
              <div class="text-5xl font-bold ">
                  You are blocked
              </div>
              <div class="text-xl font-semibold text-gray-400 ">
                  Contact admin
              </div>
        
          </div>
          <div class="w-3/4 h-60 md:h-96 my-4  rounded-lg overflow-hidden">
              <img src="https://images.unsplash.com/photo-1597767969494-9d40a3971936?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" class="h-full w-full" alt="">
          </div>
      </div>
      
  </div>
</div>
<script src="https://cdn.tailwindcss.com"></script>
<script src="https://use.fontawesome.com/03f8a0ebd4.js"></script>

